extends layout

block content
  h3 JSON to MODS converter
  p Instructions: update the JSON on
    label #[input(type='radio' name='updateOn' id='updateOnKeyup'  checked )]keyup
    label #[input(type='radio' name='updateOn' id='updateOnTab'  )]TAB 
    | to update the MODS XML.  
  table(style='width:100%')
    tr
      td(style='width:45%')
        p JSON
      td(style='width:55%')
        p MODS XML
    tr
      td
         textarea(style={margin: '3px', padding: '3px', width: '97%', height: '500px'} rows="5" name="data" id="data")=jsonInput
      td
        textarea(style={margin: '3px', padding: '3px', width: '97%', height: '500px'} rows="5" name="xml" id="xml")=xmlData

  p
    a(target='_' href='https://jsonlint.com') jsonlint 
    | &nbsp; &nbsp; &nbsp;
    a(target='_' href='https://www.npmjs.com/package/js2xmlparser') js2xml  
    | &nbsp; &nbsp; &nbsp;
    a(target='_' href='https://bitbucket.org/wwulibraries/json2xmlconverter') source code

  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='/javascripts/script.js')
